In [88]:
import pandas as pd
import os

# Load the dataset
input_path = "../data/preprocessed/vegetable_prices_clean.csv"
df = pd.read_csv(input_path)

print("Dataset loaded successfully.")
print(f"Shape: {df.shape}")
df.head()

Dataset loaded successfully.
Shape: (4956, 43)

,year,week,vegetable,price,Badulla_actual_class,Hambantota_actual_class,Jaffna_actual_class,Kurunegala_actual_class,Matale_actual_class,Nuwara_Eliya_actual_class,Ratnapura_actual_class,Badulla_precipitation,Hambantota_precipitation,Jaffna_precipitation,Kurunegala_precipitation,Matale_precipitation,Nuwara_Eliya_precipitation,Ratnapura_precipitation,Badulla_prob_drought,Hambantota_prob_drought,Jaffna_prob_drought,Kurunegala_prob_drought,Matale_prob_drought,Nuwara_Eliya_prob_drought,Ratnapura_prob_drought,Badulla_prob_flood_risk,Hambantota_prob_flood_risk,Jaffna_prob_flood_risk,Kurunegala_prob_flood_risk,Matale_prob_flood_risk,Nuwara_Eliya_prob_flood_risk,Ratnapura_prob_flood_risk,Badulla_prob_normal,Hambantota_prob_normal,Jaffna_prob_normal,Kurunegala_prob_normal,Matale_prob_normal,Nuwara_Eliya_prob_normal,Ratnapura_prob_normal,USD_LKR_avg,RateChange_avg_%,week_num,year_week
0,2010,W1,Bitter Gourd,52.4,drought,normal,drought,drought,drought,drought,normal,2.890000,3.164286,0.341429,1.027143,1.027143,1.308571,1.142857,0.995714,0.005714,0.982857,0.984286,0.984286,0.964286,0.032857,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004286,0.994286,0.017143,0.015714,0.015714,0.035714,0.967143,114.40,0.00,1,201001
1,2010,W2,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,7.071429,8.657143,5.664286,9.607143,9.607143,9.034286,8.798571,0.987143,0.030000,0.955714,0.950000,0.947143,0.944286,0.092857,0.000000,0.058571,0.004286,0.002857,0.002857,0.0,0.001429,0.012857,0.911429,0.040000,0.047143,0.050000,0.055714,0.905714,114.25,-0.13,2,201002
2,2010,W3,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,4.504286,8.197143,0.081429,1.887143,1.887143,2.768571,2.665714,0.988571,0.055714,0.997143,0.990000,0.990000,0.995714,0.087143,0.000000,0.001429,0.000000,0.000000,0.000000,0.0,0.000000,0.011429,0.942857,0.002857,0.010000,0.010000,0.004286,0.912857,114.35,0.09,3,201003
3,2010,W4,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,0.911429,1.118571,0.181429,0.450000,0.450000,0.602857,0.424286,0.997143,0.014286,0.997143,0.991429,0.992857,0.988571,0.045714,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.002857,0.985714,0.002857,0.008571,0.007143,0.011429,0.954286,114.65,0.26,4,201004
4,2010,W5,Bitter Gourd,54.3,drought,flood_risk,drought,drought,drought,drought,drought,8.752857,11.331429,0.035714,3.317143,3.317143,5.708571,6.910000,0.978571,0.580000,0.995714,0.988571,0.988571,0.987143,0.567143,0.008571,0.094286,0.000000,0.000000,0.000000,0.0,0.001429,0.012857,0.325714,0.004286,0.011429,0.011429,0.012857,0.431429,114.70,0.04,5,201005

In [89]:
# Columns to drop
columns_to_drop = ['year', 'week', 'year_week']
df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

print("Unnecessary columns removed.")
print(f"Remaining columns: {list(df.columns)}")
df.head()

Unnecessary columns removed.
Remaining columns: ['vegetable', 'price', 'Badulla_actual_class', 'Hambantota_actual_class', 'Jaffna_actual_class', 'Kurunegala_actual_class', 'Matale_actual_class', 'Nuwara_Eliya_actual_class', 'Ratnapura_actual_class', 'Badulla_precipitation', 'Hambantota_precipitation', 'Jaffna_precipitation', 'Kurunegala_precipitation', 'Matale_precipitation', 'Nuwara_Eliya_precipitation', 'Ratnapura_precipitation', 'Badulla_prob_drought', 'Hambantota_prob_drought', 'Jaffna_prob_drought', 'Kurunegala_prob_drought', 'Matale_prob_drought', 'Nuwara_Eliya_prob_drought', 'Ratnapura_prob_drought', 'Badulla_prob_flood_risk', 'Hambantota_prob_flood_risk', 'Jaffna_prob_flood_risk', 'Kurunegala_prob_flood_risk', 'Matale_prob_flood_risk', 'Nuwara_Eliya_prob_flood_risk', 'Ratnapura_prob_flood_risk', 'Badulla_prob_normal', 'Hambantota_prob_normal', 'Jaffna_prob_normal', 'Kurunegala_prob_normal', 'Matale_prob_normal', 'Nuwara_Eliya_prob_normal', 'Ratnapura_prob_normal', 'USD_LKR_avg', 'RateChange_avg_%', 'week_num']

,vegetable,price,Badulla_actual_class,Hambantota_actual_class,Jaffna_actual_class,Kurunegala_actual_class,Matale_actual_class,Nuwara_Eliya_actual_class,Ratnapura_actual_class,Badulla_precipitation,Hambantota_precipitation,Jaffna_precipitation,Kurunegala_precipitation,Matale_precipitation,Nuwara_Eliya_precipitation,Ratnapura_precipitation,Badulla_prob_drought,Hambantota_prob_drought,Jaffna_prob_drought,Kurunegala_prob_drought,Matale_prob_drought,Nuwara_Eliya_prob_drought,Ratnapura_prob_drought,Badulla_prob_flood_risk,Hambantota_prob_flood_risk,Jaffna_prob_flood_risk,Kurunegala_prob_flood_risk,Matale_prob_flood_risk,Nuwara_Eliya_prob_flood_risk,Ratnapura_prob_flood_risk,Badulla_prob_normal,Hambantota_prob_normal,Jaffna_prob_normal,Kurunegala_prob_normal,Matale_prob_normal,Nuwara_Eliya_prob_normal,Ratnapura_prob_normal,USD_LKR_avg,RateChange_avg_%,week_num
0,Bitter Gourd,52.4,drought,normal,drought,drought,drought,drought,normal,2.890000,3.164286,0.341429,1.027143,1.027143,1.308571,1.142857,0.995714,0.005714,0.982857,0.984286,0.984286,0.964286,0.032857,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004286,0.994286,0.017143,0.015714,0.015714,0.035714,0.967143,114.40,0.00,1
1,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,7.071429,8.657143,5.664286,9.607143,9.607143,9.034286,8.798571,0.987143,0.030000,0.955714,0.950000,0.947143,0.944286,0.092857,0.000000,0.058571,0.004286,0.002857,0.002857,0.0,0.001429,0.012857,0.911429,0.040000,0.047143,0.050000,0.055714,0.905714,114.25,-0.13,2
2,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,4.504286,8.197143,0.081429,1.887143,1.887143,2.768571,2.665714,0.988571,0.055714,0.997143,0.990000,0.990000,0.995714,0.087143,0.000000,0.001429,0.000000,0.000000,0.000000,0.0,0.000000,0.011429,0.942857,0.002857,0.010000,0.010000,0.004286,0.912857,114.35,0.09,3
3,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,0.911429,1.118571,0.181429,0.450000,0.450000,0.602857,0.424286,0.997143,0.014286,0.997143,0.991429,0.992857,0.988571,0.045714,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.002857,0.985714,0.002857,0.008571,0.007143,0.011429,0.954286,114.65,0.26,4
4,Bitter Gourd,54.3,drought,flood_risk,drought,drought,drought,drought,drought,8.752857,11.331429,0.035714,3.317143,3.317143,5.708571,6.910000,0.978571,0.580000,0.995714,0.988571,0.988571,0.987143,0.567143,0.008571,0.094286,0.000000,0.000000,0.000000,0.0,0.001429,0.012857,0.325714,0.004286,0.011429,0.011429,0.012857,0.431429,114.70,0.04,5

In [90]:
# Mapping for actual_class columns
class_mapping = {
    'normal': 0,
    'flood_risk': 1,
    'drought': -1
}

# List of actual_class columns
class_columns = [
    'Badulla_actual_class',
    'Hambantota_actual_class',
    'Jaffna_actual_class',
    'Kurunegala_actual_class',
    'Matale_actual_class',
    'Nuwara_Eliya_actual_class',
    'Ratnapura_actual_class'
]

# Apply mapping
for col in class_columns:
    if col in df.columns:
        df[col] = df[col].map(class_mapping)
    else:
        print(f"Warning: Column {col} not found in dataset.")

print("Actual_class columns encoded.")
# Check unique values after encoding
for col in class_columns:
    if col in df.columns:
        print(f"{col}: {df[col].unique()}")
df.head()

Actual_class columns encoded.
Badulla_actual_class: [-1  0  1]
Hambantota_actual_class: [ 0  1 -1]
Jaffna_actual_class: [-1  0  1]
Kurunegala_actual_class: [-1  0  1]
Matale_actual_class: [-1  0  1]
Nuwara_Eliya_actual_class: [-1  0  1]
Ratnapura_actual_class: [ 0 -1  1]

,vegetable,price,Badulla_actual_class,Hambantota_actual_class,Jaffna_actual_class,Kurunegala_actual_class,Matale_actual_class,Nuwara_Eliya_actual_class,Ratnapura_actual_class,Badulla_precipitation,Hambantota_precipitation,Jaffna_precipitation,Kurunegala_precipitation,Matale_precipitation,Nuwara_Eliya_precipitation,Ratnapura_precipitation,Badulla_prob_drought,Hambantota_prob_drought,Jaffna_prob_drought,Kurunegala_prob_drought,Matale_prob_drought,Nuwara_Eliya_prob_drought,Ratnapura_prob_drought,Badulla_prob_flood_risk,Hambantota_prob_flood_risk,Jaffna_prob_flood_risk,Kurunegala_prob_flood_risk,Matale_prob_flood_risk,Nuwara_Eliya_prob_flood_risk,Ratnapura_prob_flood_risk,Badulla_prob_normal,Hambantota_prob_normal,Jaffna_prob_normal,Kurunegala_prob_normal,Matale_prob_normal,Nuwara_Eliya_prob_normal,Ratnapura_prob_normal,USD_LKR_avg,RateChange_avg_%,week_num
0,Bitter Gourd,52.4,-1,0,-1,-1,-1,-1,0,2.890000,3.164286,0.341429,1.027143,1.027143,1.308571,1.142857,0.995714,0.005714,0.982857,0.984286,0.984286,0.964286,0.032857,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004286,0.994286,0.017143,0.015714,0.015714,0.035714,0.967143,114.40,0.00,1
1,Bitter Gourd,58.6,-1,0,-1,-1,-1,-1,0,7.071429,8.657143,5.664286,9.607143,9.607143,9.034286,8.798571,0.987143,0.030000,0.955714,0.950000,0.947143,0.944286,0.092857,0.000000,0.058571,0.004286,0.002857,0.002857,0.0,0.001429,0.012857,0.911429,0.040000,0.047143,0.050000,0.055714,0.905714,114.25,-0.13,2
2,Bitter Gourd,58.6,-1,0,-1,-1,-1,-1,0,4.504286,8.197143,0.081429,1.887143,1.887143,2.768571,2.665714,0.988571,0.055714,0.997143,0.990000,0.990000,0.995714,0.087143,0.000000,0.001429,0.000000,0.000000,0.000000,0.0,0.000000,0.011429,0.942857,0.002857,0.010000,0.010000,0.004286,0.912857,114.35,0.09,3
3,Bitter Gourd,58.6,-1,0,-1,-1,-1,-1,0,0.911429,1.118571,0.181429,0.450000,0.450000,0.602857,0.424286,0.997143,0.014286,0.997143,0.991429,0.992857,0.988571,0.045714,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.002857,0.985714,0.002857,0.008571,0.007143,0.011429,0.954286,114.65,0.26,4
4,Bitter Gourd,54.3,-1,1,-1,-1,-1,-1,-1,8.752857,11.331429,0.035714,3.317143,3.317143,5.708571,6.910000,0.978571,0.580000,0.995714,0.988571,0.988571,0.987143,0.567143,0.008571,0.094286,0.000000,0.000000,0.000000,0.0,0.001429,0.012857,0.325714,0.004286,0.011429,0.011429,0.012857,0.431429,114.70,0.04,5

In [91]:
# Mapping for vegetable names
veg_mapping = {
    'Bitter Gourd': 1,
    'Brinjals': 2,
    'Cabbage': 3,
    'Carrot': 4,
    'Pumpkin': 5,
    'Tomatoes': 6
}

# Encode the vegetable column
if 'vegetable' in df.columns:
    df['vegetable'] = df['vegetable'].map(veg_mapping)
    print("Vegetable column encoded.")
    print(f"Unique values in vegetable: {df['vegetable'].unique()}")
else:
    print("Warning: 'vegetable' column not found.")
df.head()

Vegetable column encoded.
Unique values in vegetable: [1 2 3 4 5 6]

,vegetable,price,Badulla_actual_class,Hambantota_actual_class,Jaffna_actual_class,Kurunegala_actual_class,Matale_actual_class,Nuwara_Eliya_actual_class,Ratnapura_actual_class,Badulla_precipitation,Hambantota_precipitation,Jaffna_precipitation,Kurunegala_precipitation,Matale_precipitation,Nuwara_Eliya_precipitation,Ratnapura_precipitation,Badulla_prob_drought,Hambantota_prob_drought,Jaffna_prob_drought,Kurunegala_prob_drought,Matale_prob_drought,Nuwara_Eliya_prob_drought,Ratnapura_prob_drought,Badulla_prob_flood_risk,Hambantota_prob_flood_risk,Jaffna_prob_flood_risk,Kurunegala_prob_flood_risk,Matale_prob_flood_risk,Nuwara_Eliya_prob_flood_risk,Ratnapura_prob_flood_risk,Badulla_prob_normal,Hambantota_prob_normal,Jaffna_prob_normal,Kurunegala_prob_normal,Matale_prob_normal,Nuwara_Eliya_prob_normal,Ratnapura_prob_normal,USD_LKR_avg,RateChange_avg_%,week_num
0,1,52.4,-1,0,-1,-1,-1,-1,0,2.890000,3.164286,0.341429,1.027143,1.027143,1.308571,1.142857,0.995714,0.005714,0.982857,0.984286,0.984286,0.964286,0.032857,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004286,0.994286,0.017143,0.015714,0.015714,0.035714,0.967143,114.40,0.00,1
1,1,58.6,-1,0,-1,-1,-1,-1,0,7.071429,8.657143,5.664286,9.607143,9.607143,9.034286,8.798571,0.987143,0.030000,0.955714,0.950000,0.947143,0.944286,0.092857,0.000000,0.058571,0.004286,0.002857,0.002857,0.0,0.001429,0.012857,0.911429,0.040000,0.047143,0.050000,0.055714,0.905714,114.25,-0.13,2
2,1,58.6,-1,0,-1,-1,-1,-1,0,4.504286,8.197143,0.081429,1.887143,1.887143,2.768571,2.665714,0.988571,0.055714,0.997143,0.990000,0.990000,0.995714,0.087143,0.000000,0.001429,0.000000,0.000000,0.000000,0.0,0.000000,0.011429,0.942857,0.002857,0.010000,0.010000,0.004286,0.912857,114.35,0.09,3
3,1,58.6,-1,0,-1,-1,-1,-1,0,0.911429,1.118571,0.181429,0.450000,0.450000,0.602857,0.424286,0.997143,0.014286,0.997143,0.991429,0.992857,0.988571,0.045714,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.002857,0.985714,0.002857,0.008571,0.007143,0.011429,0.954286,114.65,0.26,4
4,1,54.3,-1,1,-1,-1,-1,-1,-1,8.752857,11.331429,0.035714,3.317143,3.317143,5.708571,6.910000,0.978571,0.580000,0.995714,0.988571,0.988571,0.987143,0.567143,0.008571,0.094286,0.000000,0.000000,0.000000,0.0,0.001429,0.012857,0.325714,0.004286,0.011429,0.011429,0.012857,0.431429,114.70,0.04,5

In [92]:
# Check data types and basic info
print("Data types after encoding:")
print(df.dtypes)

# Check for any missing values
print("\nMissing values per column:")
print(df.isnull().sum())

# Display a random sample to confirm encoding
df.sample(10)

Data types after encoding:
vegetable                         int64
price                           float64
Badulla_actual_class              int64
Hambantota_actual_class           int64
Jaffna_actual_class               int64
Kurunegala_actual_class           int64
Matale_actual_class               int64
Nuwara_Eliya_actual_class         int64
Ratnapura_actual_class            int64
Badulla_precipitation           float64
Hambantota_precipitation        float64
Jaffna_precipitation            float64
Kurunegala_precipitation        float64
Matale_precipitation            float64
Nuwara_Eliya_precipitation      float64
Ratnapura_precipitation         float64
Badulla_prob_drought            float64
Hambantota_prob_drought         float64
Jaffna_prob_drought             float64
Kurunegala_prob_drought         float64
Matale_prob_drought             float64
Nuwara_Eliya_prob_drought       float64
Ratnapura_prob_drought          float64
Badulla_prob_flood_risk         float64
Hambantota_prob_flood_risk      float64
Jaffna_prob_flood_risk          float64
Kurunegala_prob_flood_risk      float64
Matale_prob_flood_risk          float64
Nuwara_Eliya_prob_flood_risk    float64
Ratnapura_prob_flood_risk       float64
Badulla_prob_normal             float64
Hambantota_prob_normal          float64
Jaffna_prob_normal              float64
Kurunegala_prob_normal          float64
Matale_prob_normal              float64
Nuwara_Eliya_prob_normal        float64
Ratnapura_prob_normal           float64
USD_LKR_avg                     float64
RateChange_avg_%                float64
week_num                          int64
dtype: object

Missing values per column:
vegetable                       0
price                           0
Badulla_actual_class            0
Hambantota_actual_class         0
Jaffna_actual_class             0
Kurunegala_actual_class         0
Matale_actual_class             0
Nuwara_Eliya_actual_class       0
Ratnapura_actual_class          0
Badulla_precipitation           0
Hambantota_precipitation        0
Jaffna_precipitation            0
Kurunegala_precipitation        0
Matale_precipitation            0
Nuwara_Eliya_precipitation      0
Ratnapura_precipitation         0
Badulla_prob_drought            0
Hambantota_prob_drought         0
Jaffna_prob_drought             0
Kurunegala_prob_drought         0
Matale_prob_drought             0
Nuwara_Eliya_prob_drought       0
Ratnapura_prob_drought          0
Badulla_prob_flood_risk         0
Hambantota_prob_flood_risk      0
Jaffna_prob_flood_risk          0
Kurunegala_prob_flood_risk      0
Matale_prob_flood_risk          0
Nuwara_Eliya_prob_flood_risk    0
Ratnapura_prob_flood_risk       0
Badulla_prob_normal             0
Hambantota_prob_normal          0
Jaffna_prob_normal              0
Kurunegala_prob_normal          0
Matale_prob_normal              0
Nuwara_Eliya_prob_normal        0
Ratnapura_prob_normal           0
USD_LKR_avg                     0
RateChange_avg_%                0
week_num                        0
dtype: int64

,vegetable,price,Badulla_actual_class,Hambantota_actual_class,Jaffna_actual_class,Kurunegala_actual_class,Matale_actual_class,Nuwara_Eliya_actual_class,Ratnapura_actual_class,Badulla_precipitation,Hambantota_precipitation,Jaffna_precipitation,Kurunegala_precipitation,Matale_precipitation,Nuwara_Eliya_precipitation,Ratnapura_precipitation,Badulla_prob_drought,Hambantota_prob_drought,Jaffna_prob_drought,Kurunegala_prob_drought,Matale_prob_drought,Nuwara_Eliya_prob_drought,Ratnapura_prob_drought,Badulla_prob_flood_risk,Hambantota_prob_flood_risk,Jaffna_prob_flood_risk,Kurunegala_prob_flood_risk,Matale_prob_flood_risk,Nuwara_Eliya_prob_flood_risk,Ratnapura_prob_flood_risk,Badulla_prob_normal,Hambantota_prob_normal,Jaffna_prob_normal,Kurunegala_prob_normal,Matale_prob_normal,Nuwara_Eliya_prob_normal,Ratnapura_prob_normal,USD_LKR_avg,RateChange_avg_%,week_num
1489,2,314.000000,0,0,0,0,0,0,0,2.920000,3.042857,0.862857,2.494286,2.494286,3.990000,3.855714,0.011429,0.011429,0.001429,0.000000,0.000000,0.007143,0.027143,0.005714,0.001429,0.000000,0.000000,0.000000,0.000000,0.000000,0.982857,0.987143,0.998571,1.000000,1.000000,0.992857,0.972857,366.000,0.14,40
1993,3,94.000000,0,0,0,0,0,0,0,2.722857,3.827143,2.110000,1.080000,1.080000,1.971429,3.060000,0.002857,0.002857,0.000000,0.001429,0.001429,0.004286,0.002857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.997143,0.997143,1.000000,0.998571,0.998571,0.995714,0.997143,145.505,-0.19,30
235,1,68.000000,-1,-1,0,0,0,-1,-1,0.438571,1.797143,0.138571,1.494286,1.494286,2.015714,1.870000,0.995714,0.987143,0.001429,0.002857,0.002857,0.988571,0.992857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004286,0.012857,0.998571,0.997143,0.997143,0.011429,0.007143,130.255,0.04,28
3494,5,23.800000,-1,-1,0,0,0,-1,-1,5.117143,5.530000,2.340000,6.590000,6.590000,7.435714,5.667143,0.695714,0.687143,0.028571,0.014286,0.015714,0.677143,0.688571,0.000000,0.001429,0.000000,0.000000,0.000000,0.000000,0.000000,0.304286,0.311429,0.971429,0.985714,0.984286,0.322857,0.311429,132.910,0.01,35
1234,2,116.000000,0,1,0,0,0,1,1,5.245714,8.372857,5.184286,2.265714,2.265714,4.298571,5.860000,0.000000,0.001429,0.001429,0.000000,0.000000,0.000000,0.002857,0.032857,0.217143,0.000000,0.000000,0.000000,0.125714,0.137143,0.967143,0.781429,0.998571,1.000000,1.000000,0.874286,0.860000,153.550,0.00,45
3835,5,58.311111,-1,0,-1,0,0,0,0,0.305714,0.454286,0.054286,0.670000,0.670000,0.612857,0.745714,0.962857,0.005714,0.992857,0.002857,0.002857,0.000000,0.004286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.037143,0.994286,0.007143,0.997143,0.997143,1.000000,0.995714,188.000,0.53,12
3094,4,246.000000,1,1,1,1,1,1,1,29.110000,15.238571,33.301429,17.380000,17.380000,14.941429,12.271429,0.001429,0.004286,0.004286,0.000000,0.000000,0.002857,0.002857,0.385714,0.270000,0.518571,0.508571,0.505714,0.338571,0.142857,0.612857,0.725714,0.477143,0.491429,0.494286,0.658571,0.854286,201.000,0.50,45
2078,3,28.000000,1,1,0,1,1,1,1,7.107143,5.450000,4.980000,6.238571,6.238571,6.285714,6.401429,0.007143,0.005714,0.025714,0.002857,0.001429,0.008571,0.007143,0.141429,0.138571,0.000000,0.134286,0.137143,0.140000,0.144286,0.851429,0.855714,0.974286,0.862857,0.861429,0.851429,0.848571,156.100,0.10,11
2839,4,91.000000,-1,-1,0,0,0,0,0,0.948571,2.681429,0.104286,0.247143,0.247143,0.955714,2.064286,0.891429,0.980000,0.002857,0.001429,0.001429,0.000000,0.027143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.108571,0.020000,0.997143,0.998571,0.998571,1.000000,0.972857,148.930,0.00,50
69,1,33.600000,-1,-1,0,0,0,0,-1,2.960000,5.840000,1.054286,2.934286,2.934286,2.704286,2.207143,0.764286,0.725714,0.002857,0.010000,0.010000,0.007143,0.722857,0.000000,0.004286,0.001429,0.000000,0.000000,0.000000,0.000000,0.235714,0.270000,0.995714,0.990000,0.990000,0.992857,0.277143,109.775,-0.11,18

In [93]:
# Define output path
output_dir = "../data/feature_engineered"
output_path = os.path.join(output_dir, "vegetable_prices_fe.csv")

# Create directory if it doesn't exist
os.makedirs(output_dir, exist_ok=True)

# Save to CSV
df.to_csv(output_path, index=False)
print(f"Featureengineered dataset saved to: {output_path}")

Featureengineered dataset saved to: ../data/feature_engineered\vegetable_prices_fe.csv