In [82]:
import pandas as pd
import os

# Load the dataset
input_path = "../data/preprocessed/vegetable_prices_clean.csv"
df = pd.read_csv(input_path)

print("Dataset loaded successfully.")
print(f"Shape: {df.shape}")
df.head()

Dataset loaded successfully.
Shape: (4956, 43)

,year,week,vegetable,price,Badulla_actual_class,Hambantota_actual_class,Jaffna_actual_class,Kurunegala_actual_class,Matale_actual_class,Nuwara_Eliya_actual_class,Ratnapura_actual_class,Badulla_precipitation,Hambantota_precipitation,Jaffna_precipitation,Kurunegala_precipitation,Matale_precipitation,Nuwara_Eliya_precipitation,Ratnapura_precipitation,Badulla_prob_drought,Hambantota_prob_drought,Jaffna_prob_drought,Kurunegala_prob_drought,Matale_prob_drought,Nuwara_Eliya_prob_drought,Ratnapura_prob_drought,Badulla_prob_flood_risk,Hambantota_prob_flood_risk,Jaffna_prob_flood_risk,Kurunegala_prob_flood_risk,Matale_prob_flood_risk,Nuwara_Eliya_prob_flood_risk,Ratnapura_prob_flood_risk,Badulla_prob_normal,Hambantota_prob_normal,Jaffna_prob_normal,Kurunegala_prob_normal,Matale_prob_normal,Nuwara_Eliya_prob_normal,Ratnapura_prob_normal,USD_LKR_avg,RateChange_avg_%,week_num,year_week
0,2010,W1,Bitter Gourd,52.4,drought,normal,drought,drought,drought,drought,normal,2.890000,3.164286,0.341429,1.027143,1.027143,1.308571,1.142857,0.995714,0.005714,0.982857,0.984286,0.984286,0.964286,0.032857,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004286,0.994286,0.017143,0.015714,0.015714,0.035714,0.967143,114.40,0.00,1,201001
1,2010,W2,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,7.071429,8.657143,5.664286,9.607143,9.607143,9.034286,8.798571,0.987143,0.030000,0.955714,0.950000,0.947143,0.944286,0.092857,0.000000,0.058571,0.004286,0.002857,0.002857,0.0,0.001429,0.012857,0.911429,0.040000,0.047143,0.050000,0.055714,0.905714,114.25,-0.13,2,201002
2,2010,W3,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,4.504286,8.197143,0.081429,1.887143,1.887143,2.768571,2.665714,0.988571,0.055714,0.997143,0.990000,0.990000,0.995714,0.087143,0.000000,0.001429,0.000000,0.000000,0.000000,0.0,0.000000,0.011429,0.942857,0.002857,0.010000,0.010000,0.004286,0.912857,114.35,0.09,3,201003
3,2010,W4,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,0.911429,1.118571,0.181429,0.450000,0.450000,0.602857,0.424286,0.997143,0.014286,0.997143,0.991429,0.992857,0.988571,0.045714,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.002857,0.985714,0.002857,0.008571,0.007143,0.011429,0.954286,114.65,0.26,4,201004
4,2010,W5,Bitter Gourd,54.3,drought,flood_risk,drought,drought,drought,drought,drought,8.752857,11.331429,0.035714,3.317143,3.317143,5.708571,6.910000,0.978571,0.580000,0.995714,0.988571,0.988571,0.987143,0.567143,0.008571,0.094286,0.000000,0.000000,0.000000,0.0,0.001429,0.012857,0.325714,0.004286,0.011429,0.011429,0.012857,0.431429,114.70,0.04,5,201005

In [83]:
# Columns to drop
columns_to_drop = [ 'week', 'year_week']
df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

print("Unnecessary columns removed.")
print(f"Remaining columns: {list(df.columns)}")
df.head()

Unnecessary columns removed.
Remaining columns: ['year', 'vegetable', 'price', 'Badulla_actual_class', 'Hambantota_actual_class', 'Jaffna_actual_class', 'Kurunegala_actual_class', 'Matale_actual_class', 'Nuwara_Eliya_actual_class', 'Ratnapura_actual_class', 'Badulla_precipitation', 'Hambantota_precipitation', 'Jaffna_precipitation', 'Kurunegala_precipitation', 'Matale_precipitation', 'Nuwara_Eliya_precipitation', 'Ratnapura_precipitation', 'Badulla_prob_drought', 'Hambantota_prob_drought', 'Jaffna_prob_drought', 'Kurunegala_prob_drought', 'Matale_prob_drought', 'Nuwara_Eliya_prob_drought', 'Ratnapura_prob_drought', 'Badulla_prob_flood_risk', 'Hambantota_prob_flood_risk', 'Jaffna_prob_flood_risk', 'Kurunegala_prob_flood_risk', 'Matale_prob_flood_risk', 'Nuwara_Eliya_prob_flood_risk', 'Ratnapura_prob_flood_risk', 'Badulla_prob_normal', 'Hambantota_prob_normal', 'Jaffna_prob_normal', 'Kurunegala_prob_normal', 'Matale_prob_normal', 'Nuwara_Eliya_prob_normal', 'Ratnapura_prob_normal', 'USD_LKR_avg', 'RateChange_avg_%', 'week_num']

,year,vegetable,price,Badulla_actual_class,Hambantota_actual_class,Jaffna_actual_class,Kurunegala_actual_class,Matale_actual_class,Nuwara_Eliya_actual_class,Ratnapura_actual_class,Badulla_precipitation,Hambantota_precipitation,Jaffna_precipitation,Kurunegala_precipitation,Matale_precipitation,Nuwara_Eliya_precipitation,Ratnapura_precipitation,Badulla_prob_drought,Hambantota_prob_drought,Jaffna_prob_drought,Kurunegala_prob_drought,Matale_prob_drought,Nuwara_Eliya_prob_drought,Ratnapura_prob_drought,Badulla_prob_flood_risk,Hambantota_prob_flood_risk,Jaffna_prob_flood_risk,Kurunegala_prob_flood_risk,Matale_prob_flood_risk,Nuwara_Eliya_prob_flood_risk,Ratnapura_prob_flood_risk,Badulla_prob_normal,Hambantota_prob_normal,Jaffna_prob_normal,Kurunegala_prob_normal,Matale_prob_normal,Nuwara_Eliya_prob_normal,Ratnapura_prob_normal,USD_LKR_avg,RateChange_avg_%,week_num
0,2010,Bitter Gourd,52.4,drought,normal,drought,drought,drought,drought,normal,2.890000,3.164286,0.341429,1.027143,1.027143,1.308571,1.142857,0.995714,0.005714,0.982857,0.984286,0.984286,0.964286,0.032857,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004286,0.994286,0.017143,0.015714,0.015714,0.035714,0.967143,114.40,0.00,1
1,2010,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,7.071429,8.657143,5.664286,9.607143,9.607143,9.034286,8.798571,0.987143,0.030000,0.955714,0.950000,0.947143,0.944286,0.092857,0.000000,0.058571,0.004286,0.002857,0.002857,0.0,0.001429,0.012857,0.911429,0.040000,0.047143,0.050000,0.055714,0.905714,114.25,-0.13,2
2,2010,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,4.504286,8.197143,0.081429,1.887143,1.887143,2.768571,2.665714,0.988571,0.055714,0.997143,0.990000,0.990000,0.995714,0.087143,0.000000,0.001429,0.000000,0.000000,0.000000,0.0,0.000000,0.011429,0.942857,0.002857,0.010000,0.010000,0.004286,0.912857,114.35,0.09,3
3,2010,Bitter Gourd,58.6,drought,normal,drought,drought,drought,drought,normal,0.911429,1.118571,0.181429,0.450000,0.450000,0.602857,0.424286,0.997143,0.014286,0.997143,0.991429,0.992857,0.988571,0.045714,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.002857,0.985714,0.002857,0.008571,0.007143,0.011429,0.954286,114.65,0.26,4
4,2010,Bitter Gourd,54.3,drought,flood_risk,drought,drought,drought,drought,drought,8.752857,11.331429,0.035714,3.317143,3.317143,5.708571,6.910000,0.978571,0.580000,0.995714,0.988571,0.988571,0.987143,0.567143,0.008571,0.094286,0.000000,0.000000,0.000000,0.0,0.001429,0.012857,0.325714,0.004286,0.011429,0.011429,0.012857,0.431429,114.70,0.04,5

In [84]:
# Mapping for actual_class columns
class_mapping = {
    'normal': 0,
    'flood_risk': 1,
    'drought': -1
}

# List of actual_class columns
class_columns = [
    'Badulla_actual_class',
    'Hambantota_actual_class',
    'Jaffna_actual_class',
    'Kurunegala_actual_class',
    'Matale_actual_class',
    'Nuwara_Eliya_actual_class',
    'Ratnapura_actual_class'
]

# Apply mapping
for col in class_columns:
    if col in df.columns:
        df[col] = df[col].map(class_mapping)
    else:
        print(f"Warning: Column {col} not found in dataset.")

print("Actual_class columns encoded.")
# Check unique values after encoding
for col in class_columns:
    if col in df.columns:
        print(f"{col}: {df[col].unique()}")
df.head()

Actual_class columns encoded.
Badulla_actual_class: [-1  0  1]
Hambantota_actual_class: [ 0  1 -1]
Jaffna_actual_class: [-1  0  1]
Kurunegala_actual_class: [-1  0  1]
Matale_actual_class: [-1  0  1]
Nuwara_Eliya_actual_class: [-1  0  1]
Ratnapura_actual_class: [ 0 -1  1]

,year,vegetable,price,Badulla_actual_class,Hambantota_actual_class,Jaffna_actual_class,Kurunegala_actual_class,Matale_actual_class,Nuwara_Eliya_actual_class,Ratnapura_actual_class,Badulla_precipitation,Hambantota_precipitation,Jaffna_precipitation,Kurunegala_precipitation,Matale_precipitation,Nuwara_Eliya_precipitation,Ratnapura_precipitation,Badulla_prob_drought,Hambantota_prob_drought,Jaffna_prob_drought,Kurunegala_prob_drought,Matale_prob_drought,Nuwara_Eliya_prob_drought,Ratnapura_prob_drought,Badulla_prob_flood_risk,Hambantota_prob_flood_risk,Jaffna_prob_flood_risk,Kurunegala_prob_flood_risk,Matale_prob_flood_risk,Nuwara_Eliya_prob_flood_risk,Ratnapura_prob_flood_risk,Badulla_prob_normal,Hambantota_prob_normal,Jaffna_prob_normal,Kurunegala_prob_normal,Matale_prob_normal,Nuwara_Eliya_prob_normal,Ratnapura_prob_normal,USD_LKR_avg,RateChange_avg_%,week_num
0,2010,Bitter Gourd,52.4,-1,0,-1,-1,-1,-1,0,2.890000,3.164286,0.341429,1.027143,1.027143,1.308571,1.142857,0.995714,0.005714,0.982857,0.984286,0.984286,0.964286,0.032857,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004286,0.994286,0.017143,0.015714,0.015714,0.035714,0.967143,114.40,0.00,1
1,2010,Bitter Gourd,58.6,-1,0,-1,-1,-1,-1,0,7.071429,8.657143,5.664286,9.607143,9.607143,9.034286,8.798571,0.987143,0.030000,0.955714,0.950000,0.947143,0.944286,0.092857,0.000000,0.058571,0.004286,0.002857,0.002857,0.0,0.001429,0.012857,0.911429,0.040000,0.047143,0.050000,0.055714,0.905714,114.25,-0.13,2
2,2010,Bitter Gourd,58.6,-1,0,-1,-1,-1,-1,0,4.504286,8.197143,0.081429,1.887143,1.887143,2.768571,2.665714,0.988571,0.055714,0.997143,0.990000,0.990000,0.995714,0.087143,0.000000,0.001429,0.000000,0.000000,0.000000,0.0,0.000000,0.011429,0.942857,0.002857,0.010000,0.010000,0.004286,0.912857,114.35,0.09,3
3,2010,Bitter Gourd,58.6,-1,0,-1,-1,-1,-1,0,0.911429,1.118571,0.181429,0.450000,0.450000,0.602857,0.424286,0.997143,0.014286,0.997143,0.991429,0.992857,0.988571,0.045714,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.002857,0.985714,0.002857,0.008571,0.007143,0.011429,0.954286,114.65,0.26,4
4,2010,Bitter Gourd,54.3,-1,1,-1,-1,-1,-1,-1,8.752857,11.331429,0.035714,3.317143,3.317143,5.708571,6.910000,0.978571,0.580000,0.995714,0.988571,0.988571,0.987143,0.567143,0.008571,0.094286,0.000000,0.000000,0.000000,0.0,0.001429,0.012857,0.325714,0.004286,0.011429,0.011429,0.012857,0.431429,114.70,0.04,5

In [85]:
# Mapping for vegetable names
veg_mapping = {
    'Bitter Gourd': 1,
    'Brinjals': 2,
    'Cabbage': 3,
    'Carrot': 4,
    'Pumpkin': 5,
    'Tomatoes': 6
}

# Encode the vegetable column
if 'vegetable' in df.columns:
    df['vegetable'] = df['vegetable'].map(veg_mapping)
    print("Vegetable column encoded.")
    print(f"Unique values in vegetable: {df['vegetable'].unique()}")
else:
    print("Warning: 'vegetable' column not found.")
df.head()

Vegetable column encoded.
Unique values in vegetable: [1 2 3 4 5 6]

,year,vegetable,price,Badulla_actual_class,Hambantota_actual_class,Jaffna_actual_class,Kurunegala_actual_class,Matale_actual_class,Nuwara_Eliya_actual_class,Ratnapura_actual_class,Badulla_precipitation,Hambantota_precipitation,Jaffna_precipitation,Kurunegala_precipitation,Matale_precipitation,Nuwara_Eliya_precipitation,Ratnapura_precipitation,Badulla_prob_drought,Hambantota_prob_drought,Jaffna_prob_drought,Kurunegala_prob_drought,Matale_prob_drought,Nuwara_Eliya_prob_drought,Ratnapura_prob_drought,Badulla_prob_flood_risk,Hambantota_prob_flood_risk,Jaffna_prob_flood_risk,Kurunegala_prob_flood_risk,Matale_prob_flood_risk,Nuwara_Eliya_prob_flood_risk,Ratnapura_prob_flood_risk,Badulla_prob_normal,Hambantota_prob_normal,Jaffna_prob_normal,Kurunegala_prob_normal,Matale_prob_normal,Nuwara_Eliya_prob_normal,Ratnapura_prob_normal,USD_LKR_avg,RateChange_avg_%,week_num
0,2010,1,52.4,-1,0,-1,-1,-1,-1,0,2.890000,3.164286,0.341429,1.027143,1.027143,1.308571,1.142857,0.995714,0.005714,0.982857,0.984286,0.984286,0.964286,0.032857,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004286,0.994286,0.017143,0.015714,0.015714,0.035714,0.967143,114.40,0.00,1
1,2010,1,58.6,-1,0,-1,-1,-1,-1,0,7.071429,8.657143,5.664286,9.607143,9.607143,9.034286,8.798571,0.987143,0.030000,0.955714,0.950000,0.947143,0.944286,0.092857,0.000000,0.058571,0.004286,0.002857,0.002857,0.0,0.001429,0.012857,0.911429,0.040000,0.047143,0.050000,0.055714,0.905714,114.25,-0.13,2
2,2010,1,58.6,-1,0,-1,-1,-1,-1,0,4.504286,8.197143,0.081429,1.887143,1.887143,2.768571,2.665714,0.988571,0.055714,0.997143,0.990000,0.990000,0.995714,0.087143,0.000000,0.001429,0.000000,0.000000,0.000000,0.0,0.000000,0.011429,0.942857,0.002857,0.010000,0.010000,0.004286,0.912857,114.35,0.09,3
3,2010,1,58.6,-1,0,-1,-1,-1,-1,0,0.911429,1.118571,0.181429,0.450000,0.450000,0.602857,0.424286,0.997143,0.014286,0.997143,0.991429,0.992857,0.988571,0.045714,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.002857,0.985714,0.002857,0.008571,0.007143,0.011429,0.954286,114.65,0.26,4
4,2010,1,54.3,-1,1,-1,-1,-1,-1,-1,8.752857,11.331429,0.035714,3.317143,3.317143,5.708571,6.910000,0.978571,0.580000,0.995714,0.988571,0.988571,0.987143,0.567143,0.008571,0.094286,0.000000,0.000000,0.000000,0.0,0.001429,0.012857,0.325714,0.004286,0.011429,0.011429,0.012857,0.431429,114.70,0.04,5

In [86]:
# Check data types and basic info
print("Data types after encoding:")
print(df.dtypes)

# Check for any missing values
print("\nMissing values per column:")
print(df.isnull().sum())

# Display a random sample to confirm encoding
df.sample(10)

Data types after encoding:
year                              int64
vegetable                         int64
price                           float64
Badulla_actual_class              int64
Hambantota_actual_class           int64
Jaffna_actual_class               int64
Kurunegala_actual_class           int64
Matale_actual_class               int64
Nuwara_Eliya_actual_class         int64
Ratnapura_actual_class            int64
Badulla_precipitation           float64
Hambantota_precipitation        float64
Jaffna_precipitation            float64
Kurunegala_precipitation        float64
Matale_precipitation            float64
Nuwara_Eliya_precipitation      float64
Ratnapura_precipitation         float64
Badulla_prob_drought            float64
Hambantota_prob_drought         float64
Jaffna_prob_drought             float64
Kurunegala_prob_drought         float64
Matale_prob_drought             float64
Nuwara_Eliya_prob_drought       float64
Ratnapura_prob_drought          float64
Badulla_prob_flood_risk         float64
Hambantota_prob_flood_risk      float64
Jaffna_prob_flood_risk          float64
Kurunegala_prob_flood_risk      float64
Matale_prob_flood_risk          float64
Nuwara_Eliya_prob_flood_risk    float64
Ratnapura_prob_flood_risk       float64
Badulla_prob_normal             float64
Hambantota_prob_normal          float64
Jaffna_prob_normal              float64
Kurunegala_prob_normal          float64
Matale_prob_normal              float64
Nuwara_Eliya_prob_normal        float64
Ratnapura_prob_normal           float64
USD_LKR_avg                     float64
RateChange_avg_%                float64
week_num                          int64
dtype: object

Missing values per column:
year                            0
vegetable                       0
price                           0
Badulla_actual_class            0
Hambantota_actual_class         0
Jaffna_actual_class             0
Kurunegala_actual_class         0
Matale_actual_class             0
Nuwara_Eliya_actual_class       0
Ratnapura_actual_class          0
Badulla_precipitation           0
Hambantota_precipitation        0
Jaffna_precipitation            0
Kurunegala_precipitation        0
Matale_precipitation            0
Nuwara_Eliya_precipitation      0
Ratnapura_precipitation         0
Badulla_prob_drought            0
Hambantota_prob_drought         0
Jaffna_prob_drought             0
Kurunegala_prob_drought         0
Matale_prob_drought             0
Nuwara_Eliya_prob_drought       0
Ratnapura_prob_drought          0
Badulla_prob_flood_risk         0
Hambantota_prob_flood_risk      0
Jaffna_prob_flood_risk          0
Kurunegala_prob_flood_risk      0
Matale_prob_flood_risk          0
Nuwara_Eliya_prob_flood_risk    0
Ratnapura_prob_flood_risk       0
Badulla_prob_normal             0
Hambantota_prob_normal          0
Jaffna_prob_normal              0
Kurunegala_prob_normal          0
Matale_prob_normal              0
Nuwara_Eliya_prob_normal        0
Ratnapura_prob_normal           0
USD_LKR_avg                     0
RateChange_avg_%                0
week_num                        0
dtype: int64

,year,vegetable,price,Badulla_actual_class,Hambantota_actual_class,Jaffna_actual_class,Kurunegala_actual_class,Matale_actual_class,Nuwara_Eliya_actual_class,Ratnapura_actual_class,Badulla_precipitation,Hambantota_precipitation,Jaffna_precipitation,Kurunegala_precipitation,Matale_precipitation,Nuwara_Eliya_precipitation,Ratnapura_precipitation,Badulla_prob_drought,Hambantota_prob_drought,Jaffna_prob_drought,Kurunegala_prob_drought,Matale_prob_drought,Nuwara_Eliya_prob_drought,Ratnapura_prob_drought,Badulla_prob_flood_risk,Hambantota_prob_flood_risk,Jaffna_prob_flood_risk,Kurunegala_prob_flood_risk,Matale_prob_flood_risk,Nuwara_Eliya_prob_flood_risk,Ratnapura_prob_flood_risk,Badulla_prob_normal,Hambantota_prob_normal,Jaffna_prob_normal,Kurunegala_prob_normal,Matale_prob_normal,Nuwara_Eliya_prob_normal,Ratnapura_prob_normal,USD_LKR_avg,RateChange_avg_%,week_num
2587,2012,4,43.0000,1,1,0,1,1,1,0,8.147143,12.105714,0.777143,8.058571,8.058571,6.857143,5.987143,0.002857,0.015714,0.017143,0.002857,0.002857,0.007143,0.004286,0.124286,0.110000,0.000000,0.121429,0.122857,0.107143,0.000000,0.872857,0.874286,0.982857,0.875714,0.874286,0.885714,0.995714,114.810,0.75,6
3452,2012,5,16.5500,0,0,0,0,0,0,0,6.710000,8.098571,3.215714,7.594286,7.594286,9.252857,10.308571,0.000000,0.000000,0.001429,0.000000,0.000000,0.001429,0.000000,0.000000,0.000000,0.001429,0.000000,0.000000,0.000000,0.004286,1.000000,1.000000,0.997143,1.000000,1.000000,0.998571,0.995714,130.800,0.38,45
2584,2012,4,67.0000,-1,-1,-1,-1,-1,-1,-1,0.295714,0.280000,0.000000,0.250000,0.250000,0.435714,0.565714,0.998571,0.992857,0.997143,0.990000,0.988571,0.994286,0.998571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001429,0.007143,0.002857,0.010000,0.011429,0.005714,0.001429,113.915,0.07,3
858,2010,2,22.4000,0,1,0,0,0,-1,-1,4.121429,10.998571,1.057143,3.934286,3.934286,4.625714,5.354286,0.001429,0.000000,0.028571,0.025714,0.027143,0.952857,0.928571,0.002857,0.137143,0.000000,0.000000,0.000000,0.000000,0.000000,0.995714,0.862857,0.971429,0.974286,0.972857,0.047143,0.071429,112.300,-0.04,33
820,2025,1,306.0000,1,0,1,0,0,1,1,10.861429,8.082857,6.990000,8.732857,8.732857,9.680000,8.325714,0.001429,0.002857,0.001429,0.001429,0.001429,0.000000,0.000000,0.124286,0.025714,0.112857,0.071429,0.068571,0.242857,0.130000,0.874286,0.971429,0.885714,0.927143,0.930000,0.757143,0.870000,302.800,0.07,41
4260,2012,6,100.5625,0,0,0,0,0,0,0,1.355714,5.191429,0.147143,2.604286,2.604286,3.472857,3.614286,0.000000,0.004286,0.055714,0.001429,0.001429,0.000000,0.001429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.995714,0.944286,0.998571,0.998571,1.000000,0.998571,133.450,0.14,27
3517,2014,5,18.2000,-1,-1,-1,-1,-1,-1,-1,0.001429,0.002857,0.000000,0.002857,0.002857,0.001429,0.000000,0.998571,0.997143,0.998571,0.995714,0.995714,0.995714,0.997143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001429,0.002857,0.001429,0.004286,0.004286,0.004286,0.002857,130.825,0.06,6
4436,2015,6,104.0000,0,0,0,1,1,1,0,8.047143,4.975714,8.065714,9.728571,9.728571,8.182857,6.907143,0.000000,0.002857,0.002857,0.000000,0.000000,0.002857,0.000000,0.002857,0.001429,0.000000,0.081429,0.081429,0.084286,0.001429,0.997143,0.995714,0.997143,0.918571,0.918571,0.912857,0.998571,143.225,0.72,47
3976,2022,5,55.0000,0,-1,1,0,0,-1,-1,8.264286,8.911429,16.330000,7.611429,7.611429,7.262857,6.470000,0.008571,0.975714,0.032857,0.027143,0.024286,0.972857,0.987143,0.001429,0.010000,0.207143,0.000000,0.000000,0.005714,0.000000,0.990000,0.014286,0.760000,0.972857,0.975714,0.021429,0.012857,367.500,-0.27,49
588,2021,1,79.0000,0,0,0,0,0,0,0,4.542857,6.074286,1.932857,2.242857,2.242857,4.357143,5.871429,0.000000,0.004286,0.061429,0.001429,0.000000,0.000000,0.002857,0.000000,0.018571,0.001429,0.001429,0.001429,0.000000,0.000000,1.000000,0.977143,0.937143,0.997143,0.998571,1.000000,0.997143,197.000,1.29,17

In [87]:
# Define output path
output_dir = "../data/feature_engineered"
output_path = os.path.join(output_dir, "vegetable_prices_fe.csv")

# Create directory if it doesn't exist
os.makedirs(output_dir, exist_ok=True)

# Save to CSV
df.to_csv(output_path, index=False)
print(f"Featureengineered dataset saved to: {output_path}")

Featureengineered dataset saved to: ../data/feature_engineered\vegetable_prices_fe.csv